html, body { 
	margin: 0;
	padding: 0;
	border: none;
	font: small/1.4em Arial, Helvetica, "Trebuchet MS", sans-serif;
	color: #525252;	
}

body {
	font-size: 12px;
	line-height: 16px;
}

nav, a.first-aid, #search, a.search-button,
p.slogan, ul.choice, #extra, #footer, #aside {
	display: none;	
}



/* ==== Allgemeines ==== */

img {
	border: none;
}

q {
	quotes: "\201E" "\201D"; 
}

p {
	margin: 0 0 12px 0;
	padding: 0;
}

a { 
	text-decoration: none;
	color: #00aef0; 
}

a[href$=".pdf"]:after {
	content: '(' attr(href) ')';
	font-style: italic;
	color: #999;
}

#content img {
	max-width: 100%;
	height: auto;
}

.grau {
	color: #c5c5c5;
}

hr { 
	margin: 10px 0;
	padding: 0;
	display: block;
	height: 1px;
	border: none;
	background: none;
	clear: both;
	border-top: 1px solid #9e9e9e;
}



/* ==== Überschriften ==== */

h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; }

h1 { 
	font: 1.8em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 20px 0 14px 0;
	padding: 0;
	clear: both;
}

h2 {
	font: 1.6em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 20px 0 10px 0;
	padding: 0;
}

h3 {
	font: 1.4em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 8px 0;
	padding: 0;
}

h4 {
	font: 1.2em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 6px 0;
	padding: 0;
}

h5 {
	font: 1em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 4px 0;
	padding: 0;
}

h6 {
	font: 1em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 2px 0;
	padding: 0;
}



/* ==== Bilder ==== */

.bild-links {
	float: left;
	margin: 4px 12px 6px 0;
	padding: 0 0 2px 0;
	background: #fff;
	font-size: 12px;
	line-height: 16px;
	border-bottom: 3px solid #40c2f4;
}

.bild-rechts {
	float: right;
	margin: 4px 0 6px 12px;
	padding: 0 0 2px 0;
	background: #fff;
	border-bottom: 3px solid #40c2f4;
}



/* ==== Listen ==== */

ul {
	margin: 0 0 0 18px;
	padding: 0;
}



/* ==== Tabellen ==== */

table {
	border: none;
	margin: 16px 0;
	border-collapse: collapse;
}

table td, table th {
	padding: 3px 10px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

table thead th {
	font-size: 14px;
	line-height: 18px;
	border-bottom-width: 2px;
}