
{% extends "index.html" %}

	{% block header %}
		
    <a class="logo" title="MARE system Kiel" href="/">
    	<img alt="MARE system Kiel" src="/static/design/logo.png" />
    </a>
    <nav>
      <a class="nav-button" title="Navigation" href="#nav">Navigation</a>
      <ul id="nav">
        <li><a href="/">Home</a>
        </li>       
      </ul>

      </ul>
    </nav>

	{% endblock %}



	{% block content %}

        <div align="center">
        <h1>{{code}} - DONT PANIC</h1>
        Marvin is depressed, he couldnt deliver this page to your; <br>
        additionally an Error {{code}} occured!
        <br><br>
        <a href="/"><img src="/static/images/marvin4.jpg" width="70%"></a>
        </div>
	
	{% endblock %}



	{% block rightside %}
    


	
	{% endblock %}


  </aside>
