{% extends "index.html" %}

{% block content %}

  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="/froxy/login/" method="POST">
    <dl>
      <dt>Username:
      <dd><input type=text name=login>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
{% endblock %}
