/* ==== Listen ==== */

#aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#aside ul li {
	padding: 2px 0 2px 16px;
	background: url(/static/design/li2.png) no-repeat 0 0.5em;
}



/* ==== Allgemein ==== */

#aside a {
	color: #f05922;
}

#aside a:active, #aside a:focus, #aside a:hover {
	color: #00aef0;
}

#aside h2 a {
	color: #525252;
}

#aside h2 a.rss {
	padding-right: 34px;
	display: block;
	background: url(/static/design/icons/rss.png) no-repeat top right;
}

#aside img {
	max-width: 100%;
	height: auto;
}



/* ==== Überschriften ==== */

#aside h2 {
	border-bottom: 2px dotted #525252;
}

#aside h2:first-child {
	margin-top: 0;
}
