/* ==== Listen ==== */

#bside {
    background: #f5f5f5;
/*	background: #fafafa; */
 	margin: 0 0 0 0;
	font-size: 0.95em;
	padding: 16px;
	display: block;
	position: relative;
    width: 292px;
	font-size: 1em;
	float: left;
	line-height: 1.4em;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;

}


#bside ul {
	margin: 0;
	padding: 0;
    
	list-style: none;
    text-align: right;
}

#bside ul li {
	padding: 2px 0 2px 16px;
	background: url(/static/design/li2.png) no-repeat 0 0.5em;
	border-bottom: 1px dotted #525252;
	font-size: 1.2em;
    
}



/* ==== Allgemein ==== */

#bside a {
	color: black;
}

#bside a:active, #bside a:focus, #bside a:hover {
	color: #00aef0;
}

#bside h2 a {
	color: #525252;
}

#bside h2 a.rss {
	padding-right: 34px;
	display: block;
	background: url(/static/design/icons/rss.png) no-repeat 0 0.5em;
}

#bside img {
	max-width: 100%;
	height: auto;
}


#bside .redhead {
    background: url(/static/design/first-aid.png) no-repeat top right;
    color: red; 

}

#bside .red {
    color: red; 

}

#bside .ltext {

    text-align: left;

}

/* ==== Überschriften ==== */

#bside h2 {
	border-bottom: 2px dotted #525252;
}

#bside h2:first-child {
	margin-top: 0;
}


#content2 a {
    
	color: #f05922;
}

#aside a:active, #aside a:focus, #aside a:hover {
	color: #00aef0;
}

#aside h2 a {
	color:  #f05922;
}

}

#content2 ul li {
	padding: 0 0 0 35px;
	background: url(/static/design/li2.png) no-repeat 20 0;

    
}

#blog_img {

    width: auto;
    text-align: center;
    

}



pre {

    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: #F0F1F2 ;
    border: 1px solid;


}
