
/*
 * 
 * 
 *  bootsrtrap-adjustments
 * 
 * 
*/

input,
input[type="text"],
textarea,
.uneditable-input {
    width="50px";
}


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 700px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/*
 * 
 * 
 *  custom styles
 * 
 * 
*/

.hugo {

    font-size: 1.3em;
    text-align: left;
    valign: top; 
    max-width: 500px;


}

.newevent {
    
    background: #E4FFE4;


}


.msgalert {
    
    background: #FFF4F4;


}


.uphead {
    
    text-align: center;
    background: #F5F5F5;
    font-weight: bold;

}


.srch-small { width: 70px; text-align: right;  }
.srch-wide { width: 500px;  }
